<h2 class="mat-h2">OrderCreate</h2>

<div *ngIf="this.orderForm">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          <mat-form-field>
            <input matInput
                   formControlName="customerID"
                   placeholder="CustomerID"
                   [matAutocomplete]="customerAutoComplete" />
          </mat-form-field>

          <mat-autocomplete #customerAutoComplete="matAutocomplete"
                            (optionSelected)="onCustomerOptionChanged($event)"
                            [displayWith]="displayCustomer">
            <mat-option *ngFor="let customerOption of customerOptions"
                        [value]="customerOption">
              <span [innerHTML]="highlightFiltered(customerOption.companyName)"></span>
            </mat-option>
          </mat-autocomplete>
        </p>
        <p>
          <mat-form-field>
            <input type="number"
                   matInput
                   formControlName="employeeID"
                   placeholder="EmployeeID" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field (click)="OrderDatePicker.open()">
            <input matInput
                   [matDatepicker]="OrderDatePicker"
                   formControlName="orderDate"
                   placeholder="OrderDate" />
            <mat-datepicker-toggle matSuffix
                                   [for]="OrderDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #OrderDatePicker></mat-datepicker>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field (click)="RequiredDatePicker.open()">
            <input matInput
                   [matDatepicker]="RequiredDatePicker"
                   formControlName="requiredDate"
                   placeholder="RequiredDate" />
            <mat-datepicker-toggle matSuffix
                                   [for]="RequiredDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #RequiredDatePicker></mat-datepicker>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field (click)="ShippedDatePicker.open()">
            <input matInput
                   [matDatepicker]="ShippedDatePicker"
                   formControlName="shippedDate"
                   placeholder="ShippedDate" />
            <mat-datepicker-toggle matSuffix
                                   [for]="ShippedDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #ShippedDatePicker></mat-datepicker>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="number" formControlName="shipVia" placeholder="ShipVia" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="number" formControlName="freight" placeholder="Freight" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput formControlName="shipName" placeholder="ShipName" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   formControlName="shipAddress"
                   placeholder="ShipAddress" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput formControlName="shipCity" placeholder="ShipCity" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   formControlName="shipRegion"
                   placeholder="ShipRegion" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   formControlName="shipPostalCode"
                   placeholder="ShipPostalCode" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput
                   formControlName="shipCountry"
                   placeholder="ShipCountry" />
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" type="submit">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
